/*
*
*
*/

a, a:link{color: #0098b1;}
a:visited{color: #228798;}
a:hover{color: #228798;}
.navbar a
{
    color: #222;
    text-decoration: none;
    line-height: 32px;
}
.navbar a.pull-right
{
    border-left:solid 1px rgba(0,0,0,0.07);
    float: right;
    font-size: 14px;
    margin-left: 15px;
    padding-left: 15px;
}

.navbar a.float-left
{
    font-size: 14px;
    font-weight:bold;
    text-transform: uppercase;
}

.navbar
{
    margin: 8px auto;
    min-height: 0;
    border-radius:0;
}
.web_title:before{content: "Bradley B. Dalina"}
.web_number:after{content: "+639264482952"}
.web_email:after{content: "bdalina54@gmail.com"}

.no-margin{margin:0;}
/*
-------------------------------------------
Header, Banner, Profile Tag Css
-------------------------------------------
*/

header
{
    background-color: #1fc8db;
    background-image: linear-gradient(141deg, #abd2de 0%, #09818c 51%, #09818c 75%);
    color: white;
    opacity: 0.95;
    margin-bottom:0;
    padding:0 15px;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7803921568627451);
    background-repeat: no-repeat; background-size:cover; background-position: 50% 70%; border-bottom:solid 1px #168792;
}
header > div.trans-layer,header > div.trans-header{ display: flex;align-items: center;justify-content: center;}
header > div.trans-header{padding: 30px 0;}
header > div.trans-layer{padding: 80px 0;}
header .lead {font-size: 1.15rem;}
header .display-4 {font-size: 3rem;}
@media (max-width: 468px){header .display-4 {font-size: 2rem;}}

header h2{margin:0;}
header h1{display:inline-block;}

header .profile-callout
{
	display: flex;
	align-items: center;
	justify-content: center;
}

header .profile-callout ul.grid
{
    margin: 0;
    padding: 0;
    width: 100%;
}

header .profile-callout ul.grid li
{
    float: left;
    background-color: #000;
    border-radius:50%;
    overflow: hidden;
    list-style: none;
	max-width: 100%;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.24);
}
header figure
{
	border:solid 5px #fff;
}
.center-img{max-width:255px; margin-bottom:50px;}
header figure
{
    position: relative;
    overflow: hidden;
	max-width: 100%;
	height:auto;
	border-radius:50%;
	margin:0;
}
header figure img {
    width: 100%;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
header figure:hover img, header figure:focus img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

header figcaption {
    position: absolute;
    top: 0;
    left: 0;
    padding: 25% 0;
    width: 100%;
    height: 100%;
    background-color: rgba(10, 10, 10, 0.34);
    text-align: center;
    font-size: 15px;
    opacity: 0;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    border-radius:50%;
	color: #fff;
}

header figcaption a:hover, header figcaption a:focus {color: #fff;}
header figure:hover figcaption, header figure:focus figcaption {opacity: 1; color: #fff;}
header figure.cs-hover figcaption {opacity: 1; color: #fff;}
header figcaption .caption-content i {font-size: 35px;}
header figcaption p {margin-bottom: 0;font-weight: 400;}
header figcaption .caption-content {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -100px;
    width: 200px;
    -webkit-transform: translate(0px, 15px);
    -ms-transform: translate(0px, 15px);
    transform: translate(0px, 15px);
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
header figure:hover figcaption .caption-content, header figure:focus figcaption .caption-content
{
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}
.page-header h2{word-break: break-all;box-sizing:border-box;word-wrap: break-word;}

section.project-services{background-color:#eff9fb; border-bottom: solid 1px #ddd;}
section{padding:60px 15px;}
section.project-services div.row{margin: 10px 0px;}
section.project-services table{margin: 15px 0px;}

section.project-services table tbody tr td:first-child{vertical-align: top;}
.feature-icon:hover{ border:solid 3px #fff; transition:.2s linear; box-shadow: 1px 0px 10px rgba(0,0,0,0.60);}
.feature-icon a{color: #fff;}
.feature-icon
{
    display: inline-block;
    margin-right: 25px;
    width: 90px;
    height: 90px;
    background-color: #228798;
    border: solid 3px #fff;
    border-radius: 50%;
    vertical-align: top;
    text-align: center;
    font-size: 25px;
    line-height: 90px;
    transition:.5s linear;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.60);
}
/* .feature-icon i {color: #fff;} */
.feature-content {
    display: inline-block;
    margin-left: 0;
    /* color:#fff; */
}
.feature-content a { text-decoration:none;}
.feature-content a h2{font-size: 1.6rem; line-height:32px; font-weight:400; margin-top:0;padding-top:0;}

.feature-content a:hover ~ .feature-icon{ border:solid 3px #fff; transition:.2s linear; box-shadow: 1px 0px 10px rgba(0,0,0,0.60);}


section.project-accomplishment
{
    color:#228798;
}
section.project-accomplishment a{text-decoration:none;}
.carousel-caption{color:#000; vertical-align: top;}
section.project-accomplishment h2
{
    font-size: 1.6rem;
    line-height: 32px;
    font-weight: 400;
    margin-top: 0;
    padding-top: 0;
}
section.project-accomplishment ul.project-list{margin: 25px 0; text-align:left;}
section.project-accomplishment ul.project-list li{line-height: 32px;}

.card a.project-icon{text-decoration:none;display: block;padding: 35px 10px 15px 10px;margin: auto;}
.card a.project-icon > i{font-size: 75px;}

#myCanvas{width:100%;}

section.project-inquiries a{text-decoration:none;}


footer{padding:20px 15px; border-top:solid 1px #ddd; font-size:14px;;}
footer p{line-height:32px; margin:0; padding:0;}
